.vscode
Flink-Kafka/python/__pycache__/*
Flink-Kafka/python/__pycache__/faker.cpython-310.pyc
Flink-Kafka/python/__pycache__/faker.cpython-312.pyc
Flink-Kafka/java/demo2/.idea
Flink-Kafka/java/demo2/.idea/*
Flink-Kafka/java/demo2/.idea/misc.xml
Flink-Kafka/java/demo2/.idea/misc.xml
Desafio/Flink/java/FlinkCommerce/target/*
Desafio/Flink/java/FlinkCommerce/target/classes/log4j2.properties
Desafio/Flink/java/FlinkCommerce/.idea/compiler.xml
Desafio/Flink/java/FlinkCommerce/.idea/encodings.xml
Desafio/Flink/java/FlinkCommerce/.idea/jarRepositories.xml
Desafio/Flink/java/FlinkCommerce/.idea/misc.xml
Desafio/Flink/java/FlinkCommerce/.idea/vcs.xml
Módulo 4/Spark-Kafka/python/chk-point-dir/*
Módulo 4/Spark-Kafka/python/chk-point-dir/offsets/*
Módulo 4/Spark-Kafka/python/chk-point-dir/sources/*
